html {
  background-color: #282c34;
}

.App {
  text-align: center;
  color: #fedcba;
  height: 100vw;
}

.Content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.Title {
  width: 100%;
  text-align: center;
}

.InputComponent {
  display: flex;
}

.InputLabel {
  font-size: 24px;
  /* width: 225px; */
}

.Input {
  font-size: 24px;
}

.ValueComponent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ValueLabel {
  font-size: 24px;
  margin-right: 10px;
}

.Value {
  font-size: 24px;
}

.Border {
  border-style: dotted;
  border-color: #fedcba;
}

.Left {
  display: flex;
  flex-direction: column;
  width: 66%;
}

.Right {
  display: flex;
  flex-direction: column;
  width: 34%;
}

.Top {
  display: flex;
}

.Middle {
  display: flex;
}

.Bottom {
  display: flex;
}

.Cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-style: dotted;
  border-color: #fedcba;
}